*{
font-family: sans-serif;
margin: 0;
padding:0;
box-sizing: border-box;
text-transform: uppercase;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #a25fd9;
    pagging: 1rem;

}


position: relative;
width: 65%;
height: 35%;
text-align: center;
border-radius: 20px;
margin-top: 60%;
background-image: linear-gradient(to top, #black 0%, #yellow 100%);
}


.cartao {
    border: 10px solid ;
    background: rgb(188, 188, 14);
    border-radius: 30px;
    width: 600px;
    height: 200px;
    margin: auto;
    position: relative;
}

form{
    display: flexbox;
    flex-direction: relative;
    width: 90%;
    gap: 2%;
    align-items: justify;
    margin-top: 50%;
    position: relative;
    height: 40%;
    margin: 0 auto;
}

form input{
    width: 100%;
    padding: 10px;
    height: 30%;
    border: 1px solid #c8c7cf;
    border-radius: 16px;
    padding-left: 10px;
    margin-bottom: 10px;

}

button{
    border-radius: 5px;
    width: 80%;
    height: 30%;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    align-self: center;
}



